<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ĐÃ XÁC NHẬN</title>
</head>

<body>
    <h1>Đã xác nhận</h1>
    <p>Chào <%= email %>,</p>
    <p>Bạn đã đăng ký vào StarCi. Hãy đăng nhập để có thể truy cập vào StarCi.</p>
</body>
</html>