<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>XÁC NHẬN THÀNH CÔNG</title>
</head>

<body>
  <h1>Xác nhận thành công</h1>
  <p> Chào <%= email %>, </p>
  <p>Chúc mừng tài khoản của bạn đã xác nhận thành công.</p>
  <p>Bạn có thể đăng nhập để truy cập vào StarCi.</p>
</body>

</html>