<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>XÁC NHẬN HẾT HẠN</title>
</head>

<body>
    <h1>Xác nhận hết hạn</h1>
    <p>Chào <%= email %>,</p>
    <p>Xin lỗi, xác nhận của bạn đã hết hạn. Hãy đăng nhập để nhận email xác nhận một lần nữa.</p>
</body>

</html>